<div class="form-inline">
  <form action="#" class="form-inline">
    <input type="text" name="checkin" id="checkin" placeholder="Check In Date" class="form-control input-lg">
    <input type="text" name="checkout" id="checkout" placeholder="Check Out" class="form-control input-lg">
    <select id="favorite" name="method" class="form-control input-lg">
      <option value="one">1 person</option>
      <option value="two">2 people</option>
      <option value="three">3 people</option>
    </select>
    <input type="submit" class="btn btn-primary form-control input-lg" value="Search">
  </form>
</div>
