<div class="form-box bg-grey">
  <h3>Book this now</h3>
  <form action="#">
    <div class="form-line">
      <div class="padding-small">
        <input type="text" name="checkin" id="checkin" placeholder="Check In Date" class="form-control">
      </div>
      <div class="padding-small">
        <input type="text" name="checkin" id="checkin" placeholder="Check In Date" class="form-control">
      </div>
    </div>
    <div class="padding-small">
      <select id="people" name="method" class="form-control">
      <option value="one">1 person</option>
      <option value="two">2 people</option>
      <option value="three">3 people</option>
      </select>
    </div>
    <div class="padding-small">
      <input type="submit" class="btn btn-danger form-control" value="Book it">
    </div>
  </form>
</div>
