#home {
  background-color: $light-gray;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: left;
  p {
    margin-top: 1.5em;
  }
  a {
    color: $light-red;
    font-weight: bold;
    font-size: 16px;
  }
}

.container {
  width: 100%;
  h2 {
    text-align: center;
  }
}

