// Define variables for your color scheme

// For example:
// $red: #EE5F5B;
// $blue: #016FB9 ;
// $yellow: #FDB631;
// $orange: #E67E22;
// $green: #31D843;
// $purple: #31D843;
// $gray: #000000;
// $light-gray: #F4F4F4;
// $light-blue: #4D9DE0;
// $light-blue-bright: #1DD3B0;
// $pink: #C97B84;

$dark-blue: #1446A0;
$blue: #468FCC;
$light-blue: #7768AE;
$lighter-blue: #8DC0EB;
$red: #E15554;
$light-red: #E67373;
$lighter-red: #EB9292;
$light-yellow: #E1BC29;
$yellow: #E1BC29;
$lighter-yellow: #EBD476;
$light-green: #3BB273;
$lighter-green: #82CEA5;
$dark-green: #388659;
$green: #3BB273;
$light-purple: #7768AE;
$lighter-purple: #A89ECB;
$purple: #7768AE;
$black: #01161E;
$orange: #F75C03;
$gray: #5D737E;
$light-gray: #F4F4F4;
$dark-gray: #5F5F5F;


@mixin gradient {
  background-image: linear-gradient(to bottom, rgba(209,209,209,1) 0%,rgba(255,26,0,1) 100%);
}


